:root{
--accent-color: #935d49;
--text-color:#935d49;
--text-size-paragraph: 1.5rem;
--text-size-heading: 3rem;
--corner-size: 3rem;
--outline-thickness: 10px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

html{
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div{
    margin: auto;
    display: grid;

    /*
    outline: 2px red solid;
    min-width: 20px;
    min-height: 20px;
    */
}

.contentBox{
    background-color: #FFFFFF;
    border-radius: 0 0 var(--corner-size) var(--corner-size);
    outline: var(--outline-thickness) #935d49 solid;
    outline-offset: -1px;
    width: 100%;
    margin-bottom: 100px;
}

.banner{
    height: var(--text-size-heading);
    background-color: var(--accent-color);
    border-radius: var(--corner-size) var(--corner-size) 0 0;
    border: none;
    width: 100%;
    outline: var(--outline-thickness) var(--accent-color) solid;
    outline-offset: -1px;
}

.pfp{
    border-radius: var(--corner-size);
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0;
    display: block;
}

.imageContent{
    display: block;
    width: 100%;
    height: 100%;
}

.textContent{
    width: 100%;
    display: block;
    margin-top: 0px;
}


.thisBox{
    margin: auto;
    padding-top:0px;
    margin-top: 0;
    margin-bottom: var(--text-size-paragraph);
}

.thisBox p{
    margin: var(--text-size-paragraph) var(--text-size-paragraph);
}

@media screen and (orientation: landscape) {
    .thisBox{
        grid-template-columns: 1fr 1fr;
    }

    .textContent{
         grid-column: 2;
    }

    .banner{
        height: calc(var(--text-size-heading)*1.5);
    }
}


h1{
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--accent-color);
    text-align: center;
    font-size: var(--text-size-heading);
    margin:0px auto;
}

h2{
    color: var(--accent-color);
    text-align: center;
    font-size: calc(var(--text-size-heading)*.75);
    margin:0px auto;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.error {
    font-size: calc(var(--text-size-heading)*2);
}

.everythingBox{
max-width: clamp(0px,90vw,1000px);
}

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  p{
    color: var(--text-color);
    font-size: var(--text-size-paragraph);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .nunito-default{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .pronouns{
    color: var(--accent-color);
    font-weight: 800;
    text-align: center;
    margin: 0;
  }

  .socials{
grid-template-columns:repeat(5, 1fr);
gap: calc(var(--text-size-paragraph)/2);
width: 60%;
place-items: center;
margin-bottom: 2vh;
margin-top: 0;
}

img{
    user-select: none;
}

.socials img{
    width:100%;
    transition: scale .15s;
}

.socials img:hover{
    scale: 125%;
}

.filterbrown{
    filter: invert(39%) sepia(28%) saturate(710%) hue-rotate(330deg) brightness(96%) contrast(91%);
}

a{
    font-weight:700;
}

.copyright:hover{
    scale: 125%;
}

.copyright{
    background-color: rgba(255,255,255,.3);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px auto;
    width: fit-content;
    color: black;
    font-weight: bold;
    white-space: nowrap;
    place-items: center;
    backdrop-filter: blur(10px);
    padding: 0 calc(var(--text-size-paragraph)/2);
    border-radius: var(--corner-size);
    scale: 100%;
    transition: scale .15s;
}

.topnav{
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: var(--text-size-paragraph);
    margin-bottom: var(--text-size-paragraph);
}

.topnav a{
    border-radius: 100vw;
    padding: 0.5rem 1rem;
    font-size: var(--text-size-paragraph);
    white-space: nowrap;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: default;
    scale: 100%;
    transition: scale .15s;
    user-select: none;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.topnav a:hover{
    scale: 125%;
    transition: scale .15s;
}

.topnav a.currentlink{
    font-weight: 900;
}

.copyright a{
    color: blue;
}

.mediaScrollable{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.mediaItem{
width: 300px;
height: 400px;
overflow: hidden;
background-size: auto 100%;
background-position: center;
border-radius: var(--corner-size);
scale: 90%;
transition: scale .15s;
box-shadow: 10px 20px 10px 0px rgba(0, 0, 0, .3);
}

.mediaItem:hover{
scale: 100%;
transition: scale .15s;
}

.mediaItem img{
    width: 90%;
    margin: auto;
    margin-top: var(--text-size-heading);
}

.textbox{
    position: relative;
    size: 100px 100px;
    margin: auto;
    background-color: rgba(0,0,0,.5);
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
}

.textbox p{
    color: white;
    font-size: calc(var(--text-size-paragraph)*.75);
    margin: auto 10%;
    margin-top: calc(var(--text-size-paragraph)/2);
}

.textbox a{
    color: white;
    font-weight: 500;
}

.socials a{
    margin: 0;
    width: 100%;
}

.removalGuide{
margin: 0px 5vw;
padding: 20px 0px;
}

.removalGuide h1{
line-height: var(--text-size-heading);
}

.removalGuide p{
    margin: calc(var(--text-size-paragraph)/2);
}


span{
    display: inline-block;
}

.key{
    background-color: lightgrey;
    padding: 1px 2px;
    border-radius: 5px;
    outline:solid darkgray 1px;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-size: calc(var(--text-size-paragraph)*.75);
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.5);
    margin: 0px 5px;
    min-width: calc((var(--text-size-paragraph)*.75) + 10px);
    text-align: center;
}

.icon{
    font-family: "Noto Emoji", sans-serif;
    color: #00a2ed;
}

.invert{
    background-color: #00a2ed;
    color: white;
    border-radius: 2px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.5);    
}


.switch{
    width: calc(var(--text-size-paragraph)*1.5);
    offset: -10px;
    border-radius: 10px;
    font-size: small;
    padding: 0px 5px;
    outline: solid 2px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.5);    
}

.on{
    background-color: #00a2ed;
    text-align: right;
    color: white;
    outline-color: lightgray;
}

.off{
    color: darkgray;
}

.search{
    font-family: "Noto Emoji", sans-serif;
    outline: 2px solid;
    padding-right: 10px;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
}