* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #95D2B3;
    --text-color: #F1F8E8;
    --opposite-text-color: black;
    --font-size-base: 16px;
    --line-height: 1.5;
    --font-family: "Inter", serif;
    --background-color: black;
    --image-size: 200px;
}

.topnav {
    position: fixed;
    background-color: var(--accent-color);
    overflow: hidden;   
    list-style-type: none;
    margin-bottom: 100px;
    height: 50px;
    width: 100%;
    top:0;
}

.topnav li {
    float:left;

}

.topnav li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--opposite-text-color);
}

body {
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-base);   
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: var(--line-height);
    color: var(--text-color);
}

h1, h2, h3 {
    margin: 1 rem;
}

h1{
    color: var(--accent-color);
    font-weight: bolder;
    font-size: calc(var(--font-size-base) * 5);
}



p {
    text-align: left;
    color: var(--text-color);
    font-family: sans-serif;
    padding: 10px 20%;
    margin: auto 15%;
}

.logo {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--image-size);
    height: auto;
    border-radius: 50px;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--accent-color);
    margin: 10px;
    color: var(--light-text-color);
}

.linkbutton {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    width: 150px;
    height: 50px;
    max-width: 100%;
    text-decoration: none;
}

.linkbutton img{
    margin-left: 0;
}

.linkbutton span {
    flex-grow: 1;
    text-align: center;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.container {
    border: 3px solid var(--accent-color);
    max-width: 30em;
    margin: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.material-symbols-outlined{
    font-size: 40px  !important; 
    padding: 5px 10px;
    color: var(--opposite-text-color);
    font-variation-settings: 'FILL' 1;
    user-select: none;
}

.FAQ p{
    margin: 0 15%;  
}

.FAQ h2{
    margin-bottom: 5px;
    margin-top: 40px;
    color: var(--accent-color);
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y:scroll
    background-color: rgba(32, 33, 36,.95);
    top:50px;
    z-index: 1;
}

.sidenav a{
    display: block;
    padding: 10px;
    color: var(var(--accent-color));
}   

.imageDesc{
    margin: auto;
    border: 1px solid rgba(0,0,0,0);
    width:var(--image-size);
    border-radius: 0 0 50px 50px;
    background-color: rgba(255,255,255,.50);
    display: none;
}

.imagewithdesc:hover .imageDesc {
    display: block;
  }

.imageDesc p{
    text-align: center;
    padding: 0;
    margin:0;
    color: black;
    font-size:8pt;
    margin:0 10px 10px;
    font-weight: bolder;
}

.imageDesc a{
    padding:0;
    margin:0;
    color:black;
}

.imagewithdesc {
    margin: auto;
    position: relative;
    height: var(--image-size);
    width: var(--image-size);
}

.element1, .element2 {
    position: absolute;
    bottom: 0;
}

.accentcolor{
    color: var(--accent-color);
}

.card{
border: 2px solid var(--accent-color);
margin: auto;
padding: auto;
max-width: 600px;
min-height: 425px;
border-radius: 10px;
}

.cardbar{
    background-color: var(--accent-color);
    width: auto;
    border-radius: 6px 6px 0 0 ;
}

.card h1{
    color: var(--opposite-text-color);
    font-size: 30pt;
    margin: auto;
}

.cardimg{
    border-radius: 100%;
    width: 100px;
    height: auto;
    margin: 1em auto;
}