* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #89e0cd;
    --text-color: #F1F8E8;
    --opposite-text-color: black;
    --font-size-base: 16px;
    --line-height: 1.5;
    --font-family: "Inter", serif;
    --background-color: #202124;
    --background-secondary: 18,18,18;
    --image-size: 200px;
}

.topnav {
    position: fixed;
    background-color: var(--accent-color);
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 100px;
    height: 50px;
    width: 100%;
    top: 0;
}

.topnav li {
    float: left;

}

.topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--opposite-text-color);
}

body {
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: var(--line-height);
    color: var(--text-color);
}

h1,
h2,
h3 {
    margin: 1 rem;
}

h1 {
    color: var(--accent-color);
    font-weight: bolder;
    font-size: calc(var(--font-size-base) * 5);
}



p {
    text-align: left;
    color: var(--text-color);
    font-family: sans-serif;
    padding: 10px 20%;
    margin: auto 15%;
}

.logo {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--image-size);
    height: auto;
    border-radius: 25%;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--accent-color);
    margin: 10px;
    color: var(--light-text-color);
    margin-top: 10px;
}

.linkbutton {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    width: 150px;
    height: 50px;
    max-width: 100%;
    text-decoration: none;
}

.linkbutton:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}

.linkbutton img {
    margin-left: 0;
}

.linkbutton span {
    flex-grow: 1;
    text-align: center;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.container {
    border: 3px solid var(--accent-color);
    max-width: 30em;
    margin: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.material-symbols-outlined {
    font-size: 40px;
    padding: 5px 10px;
    color: var(--opposite-text-color);
    font-variation-settings: 'FILL' 1;
    user-select: none;
}

.topnav .material-symbols-outlined{
    font-size: 40px;
}

.FAQ p {
    margin: 0 15%;
}

.FAQ h2 {
    margin-bottom: 5px;
    margin-top: 40px;
    color: var(--accent-color);
}

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: rgba(var(--background-secondary), 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    overflow-x: hidden;
    text-overflow: clip;
    white-space: nowrap;
    margin-left: 10%;
}


.sidenav .closebtn{
    position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  display: block;
  color: var(--text-color);
}

.sidenav .closebtn .material-symbols-outlined{
  color: var(--text-color);
}

.imageDesc {
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    width: var(--image-size);
    border-radius: 0 0 50px 50px;
    background-color: rgba(255, 255, 255, .50);
    display: none;
}

.imagewithdesc:hover .imageDesc {
    display: block;
}

.imageDesc p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 8pt;
    margin: 0 10px 10px;
    font-weight: bolder;
}

.imageDesc a {
    padding: 0;
    margin: 0;
    color: black;
}

.imagewithdesc {
    margin: auto;
    position: relative;
    height: var(--image-size);
    width: var(--image-size);
}

.element1,
.element2 {
    position: absolute;
    bottom: 0;
}

.accentcolor {
    color: var(--accent-color);
}

.buttontext{
font-size: 12pt;
font-weight: bold;
color: var(--opposite-text-color);
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
}

footer p{
    text-align: center;
}

.text-color{
    color: var(--text-color);
}

.games h1{
}

.games h2{
    font-weight: normal;
}

a.genre {
display: inline-block;
border: 2px solid black;
border-radius: 500px;
padding: 2px 5px;
font-size: 8pt;
background-color: var(--genre-color);
border-color: var(--genre-color);
font-weight: bolder;
text-align: center;
vertical-align:middle;
margin-bottom: 10px;
}

a.genre span{
    color: var(--text-color);
    font-size: 10pt;
    padding: 0;
    text-align: center;
    vertical-align:middle;
    margin-top: -4px;
}

a.genre.roleplaying{
    background-color: hsl(24,11%,54%);
    border-color: var(--text-color);
}

a.genre.sandbox{
    background-color: green;
    border-color: var(--text-color);
}

a.genre.survival{
    background-color: red;
    border-color: var(--text-color);
}

a.genre.horror{
    background-color: indigo;
    border-color: var(--text-color);
}


a.genre.platformer{
    background-color: ;
    border-color: var(--text-color);
}

a.genre.mini{
    background-color: red;
    border-color: var(--text-color);
}

a.genre.mix{
    background-color: red;
    border-color: var(--text-color);
}

a.genre.roguelike{
    background-color: darkturquoise;
    border-color: var(--text-color);
}

a.genre.simulation{
    background-color: red;
    border-color: var(--text-color);
}

a.genre.party{
    background-color: red;
    border-color: var(--text-color);
}

a.genre.wargame{
    background-color: red;
    border-color: var(--text-color);
}